.status-bar {
  background: darken($red, 25%);
  margin: 0 !important;
  padding: $small-spacing*1.4 0;
  text-align: center;

  h4 {
    font-size: 1rem;
    text-transform: uppercase;
    color: transparentize($sand, 0.5);
    line-height: 1;
  }
}

header.internal {
  background: $red;
  padding: $base-spacing;
  color: $sand;
  margin: 0 !important;

  h4 {
    line-height: 1;
    margin: 0;
  }
}

.grav {
  float: left;
  margin-right: $small-spacing;
  position: relative;
  overflow: hidden;
  border-radius: 100px;
  width: 64px;
  height: 64px;
  img {
    border-radius: 100px;
    width: 64px;
    position: relative;
    z-index: 30;
  }
  .fa {
    color: #fff;
  }
  .twitter-overlay {
    border-radius: 100px;
    width: 64px;
    height: 64px;
    background: $blue;
    position: absolute;
    top: 128px;
    left: 0;
    z-index: 40;
    line-height: 64px;
    text-align: center;
    font-size: 2rem;
    @include transition(all 0.10s ease-in-out);
  }
  &:hover {
    .twitter-overlay {
      top: 0;
    }
  }
}

ul.key {
  @include clearfix;
  display: block;
  margin-bottom: $base-spacing*2;

  li {
    float: left;
    text-transform: uppercase;
    letter-spacing: 0.06rem;

    .circle {
      height: 5px;
      padding: 0 10px;
      border-radius: 100px;
      margin: 0 $small-spacing 0 $small-spacing/2;
      &.red {
        background: $red;
      }
      &.orange {
        background: $orange;
      }
      &.purple {
        background: $light-purple;
      }
      &.green {
        background: $teal;
      }
    }
  }
}
