.menu-fade-screen {
  position: fixed;
  top: 0;
  left: 0;
  background: transparentize(#555, 0.7);
  width: 100%;
  height: 100%;
  z-index: 20;
  display: none;
  @include transition(all 0.30s ease-in-out);

  &.is-visible {
    display: block;
  }
}

.menu-trigger {
  width: 50px;
  height: 30px;
  position: fixed;
  top: $base-spacing;
  left: $base-spacing/2;
  color: $sand;
  font-size: modular-scale(2);
  text-align: center;
  line-height: 1.2;
  background: $red;
  @include transition(all 0.25s ease-in-out);
  &:before {
  	content: "";
  	position: absolute;
  	top: -15px;
  	left: 0;
  	width: 0;
  	height: 0;
  	border-left: 25px solid transparent;
  	border-right: 25px solid transparent;
  	border-bottom: 15px solid $red;
  }
  :after {
  	content: "";
  	position: absolute;
  	bottom: -15px;
  	left: 0;
  	width: 0;
  	height: 0;
  	border-left: 25px solid transparent;
  	border-right: 25px solid transparent;
  	border-top: 15px solid $red;
  }
}

ul.menu-list {
  position: fixed;
  top: 0;
  left: -400px;
  overflow: hidden;
  height: 100%;
  background: darken($dark-purple, 20%);
  color: $light-purple;
  width: 12em;
  padding: $small-spacing $base-spacing*2 $small-spacing $small-spacing;
  @include transition(all 0.30s ease-in-out);
  z-index: 30;
  li {
    padding: $small-spacing;
  }
  &.menu-open {
    left: 0;
  }
}
