<footer>
  <div class="wrapper narrow">
    <h3 class="is-centered">
      <a href="http://www.codeforgreensboro.org"><%=image_tag ('/images/ghost-logo.png') %></a>
      <ul class="social">
        <a href="http://www.twitter.com/codeforgso">
          <li class="fa fa-twitter"></li>
        </a>
        <a href="https://www.facebook.com/codeforgreensboro">
          <li class="fa fa-facebook"></li>
        </a>
        <a href="http://slack.codeforgreensboro.org">
          <li class="fa fa-slack"></li>
        </a>
      </ul>
    </h3>
    <hr class="small">
    <p class="is-centered">Copyright (c) 2015 Code For Greensboro | All Rights Reserved.</p>
  </div>
</footer>
