<footer>
  <div class="wrapper narrow">
    <h3 class="is-centered">
      <%=image_tag ('/images/ghost-logo.png') %>
      <ul class="social">
        <li class="fa fa-twitter"></li>
        <li class="fa fa-facebook"></li>
        <li class="fa fa-slack"></li>
      </ul>
    </h3>
    <hr class="small">
    <p class="is-centered">Copyright (c) 2015 Code For Greensboro | All Rights Reserved.</p>
  </div>
</footer>
