<div class="menu-trigger">
  <i class="fa fa-bars"></i>
</div>

<ul class="menu-list">
  <li><%=link_to "Home", "/" %></li>
  <li>About</li>
  <li>Speakers</li>
  <li>Venues</li>
  <li>Schedule</li>
  <li>Get Tickets</li>
  <li>---</li>
  <li>Call for Speakers</li>
  <li>Sponsor Information</li>
</ul>
