<div class="menu-trigger">
  <i class="fa fa-bars"></i>
</div>

<ul class="menu-list">
  <li>Home</li>
  <li>About</li>
  <li>Speakers</li>
  <li>Venues</li>
  <li>Schedule</li>
  <li>Get Tickets</li>
</ul>
