@import "neat-helpers";

// Neat Overrides
// $column: 90px;
// $gutter: 30px;
// $grid-columns: 12;
// $max-width: em(1088);

// Neat Breakpoints
$small-screen: em(100);
$medium-screen: em(640);
$large-screen: em(860);

$small-screen-up: new-breakpoint(min-width $small-screen 4);
$medium-screen-up: new-breakpoint(min-width $medium-screen 8);
$large-screen-up: new-breakpoint(min-width $large-screen 12);

$visual-grid: true;
$visual-grid-color: transparentize(#0072ac, 0.5);

// $visual-grid: true;
// $visual-grid-color: red;
// $visual-grid-index: front;
// $visual-grid-opacity: 0.1;
