body {
  background: $sand;
  @include transition(all 0.30s ease-in-out);
  position: relative;
  &.has-menu {
    // Silence is golden
  }
}

section {
  margin: 0 !important;
  padding: $base-spacing*2 0;

  &.generic {
    background: #fff;
    overflow: hidden;

    .narrow {
      @include span-columns(6);
      @include shift(3);
      text-align: center;
    }
  }

  &.hero {
    background: $red url('/images/jsnn.png') center center no-repeat fixed;
    background-size: cover;
    color: #fff;
    padding: $base-spacing*6 0;

    // Type
    h1, h5 {
      margin: 0;
    }
    h1 {
      line-height: 1;
      margin: modular-scale(-2) 0;
      font-weight: bold;
    }
    h5 {
      letter-spacing: 0.06rem;
    }
  }

  &.schedule {
    background: darken($sand, 5%) url('/images/schedule.jpg') center center fixed;
    background-size: cover;
    overflow: hidden;

    .has-list {
      @include outer-container(65%);

      ul {
        border-left: 5px solid $dark-purple;
        li {
          margin: $small-spacing*1 0;
          padding-left: $base-spacing;
          position: relative;
          font-size: 1.2rem;

          .time {
            display: block;
            font-size: 1rem;
            color: $dark-purple;
          }

          &:before {
            content: "";
            width: 25px;
            height: 25px;
            background: url('/images/marker.png') center center no-repeat;
            position: absolute;
            left: -15px;
            top: $small-spacing;
          }
        }
      }
    }
  }

  #saturday,
  #sunday {
    @include span-columns(6);
    @include shift(3);
  }

  &.sponsors {
    background: $light-green;

    .sponsor {
      height: 140px;
      padding: 0;
      img {
        margin-top: -50px;
        opacity: 0.6;
      }
    }
  }

  &.speakers {
    background: $teal;
    .wrapper {
      padding: $base-spacing 0;
    }
  }

  &.venue {
    padding: 0 !important;

    .caption {
      text-align: center;
      padding: $base-spacing*2;

      p {
        text-align: left;
      }
    }
  }

  &.generic {
    .feature {
      @include span-columns(4);
      padding: $small-spacing $small-spacing $small-spacing*4;
      border: 1px solid #d7d7d7;
    }
  }

  // ID's
  &#jsnn {
    @include outer-container;
    min-height: 300px;
    background: url('/images/jsnn.jpg') center bottom no-repeat fixed;
    background-size: cover;
  }
}

// Blocks

.banner {
  background: $medium-gray;
  @include clearfix;

  @include media($small-screen) {
    display: none;
  }
  @include media($medium-screen) {
    display: none;
  }
  @include media($large-screen) {
    display: block;
  }

  .days, .hours, .minutes, .seconds {
    font-weight: 700 !important;
  }

  .wrapper {
    padding: 0;
    @include outer-container(70%);
  }
  h5 {
    @include span-columns(6);
    color: #fff;
    line-height: 2;
    margin-bottom: 0;
  }
  #countdown {
    @include clearfix;
    line-height: 2.5;
    @include span-columns(6);
    margin-bottom: 0;
    li {
      float: left;
      color: lighten($medium-gray, 50%);
      width: 25%;
      text-align: center;
    }
  }
}

.wrapper {
  @include outer-container();
  padding: $base-spacing;
  overflow: hidden;

  &.narrow {
    @include outer-container(60%);
  }
}
.leftcolumn {
  @include media($small-screen) {
    @include span-columns(12);
  }
  @include media($medium-screen) {
    @include span-columns(12);
  }
  @include media($large-screen) {
    @include span-columns(9);
  }
}

aside {
  &.feature {
    @include span-columns(5);
  }
  &.sidebar {
    background: darken($sand, 5%);
    padding: $small-spacing;

    @include media($small-screen) {
      display: none;
    }
    @include media($medium-screen) {
      display: none;
    }
    @include media($large-screen) {
      @include span-columns(3);
      display: block;
    }

    p {
      font-size: 80%;
    }

    a {
      background: $red;
      color: #fff;
      text-align: center;
      display: inline-block;
      padding: $small-spacing $small-spacing*2;
      &:hover {
        background: darken($red, 10%);
      }
    }
  }
}

.third {
  @include media($small-screen-up) {
    @include span-columns(4);
  }
  @include media($medium-screen-up) {
    @include span-columns(8);
  }
  @include media($large-screen-up) {
    @include span-columns(4);
  }

  aside {
    display: block;
    width: 100%;
  }
  h4 {
    color: $light-purple;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.06rem;
    padding-top: $base-spacing*2;
  }
  h5 {
    color: $dark-purple;
    text-align: center;
    padding-top: $small-spacing;
  }
}

.half {
  @include span-columns(6);

  img {
    width: 100%;
  }
}

// Cards

.team-card {
  border-radius: 4px;
  background: #fff;
  @include span-columns(4);
  @include omega(3n);
  margin-bottom: $base-spacing;
  text-align: center;
  border-right: 1px solid darken($sand, 10%);
  border-bottom: 1px solid darken($sand, 10%);
  position: relative;
  padding-top: 15px;

  h2 {
    font-size: 1rem;
    text-transform: uppercase;
    color: $dark-purple;
    letter-spacing: 0.06rem;
    margin: 0;
  }

  dl {
    dt {
      font-size: 1.3rem;
    }
  }

  .score {
    position: absolute;
    border-radius: 100px;
    width: 40px;
    height: 40px;
    left: 45%;
    top: -20px;
    text-align: center;
    line-height: 40px;
    background: $dark-purple;
    color: #fff;
  }
}

.avatar {
  text-align: center;

  h4 {
    font-size: 1.4rem;
    margin-bottom: $small-spacing/3;
  }
  h5 {
    font-size: 1rem;
    color: #fff;
  }

  a {
    color: #fff;
    border-bottom: 1px dotted #fff;
  }

  .round {
    border-radius: 100px;
    border: 10px solid transparentize(#fff, 0.5);
    margin-bottom: $small-spacing/2;
  }
}

footer {
  padding: $base-spacing*2;
  background: $dark-purple;
  color: #fff;

  a {
    color: #fff;

    &:hover {
      color: #fff;
    }
  }

  img {
    @include span-columns(3);
    @include shift(3.5);
  }

  ul.social {
    @include span-columns(3);
    @include shift(0.25);
    margin-bottom: $small-spacing;
    border-left: 1px solid lighten($dark-purple, 15%);
    padding-left: $small-spacing/1.5;
    padding-top: 5px;
    li {
      float: left;
      margin-right: $small-spacing/2;
      font-size: 1.5rem;
    }
  }

  hr {
    clear: both;
  }

  p {
    text-transform: uppercase;
    font-size: 0.90rem;
    letter-spacing: 0.06rem;
  }

}

// Misc

.has-border {
  width: modular-scale(11);
  margin: $base-spacing*2 auto;
  text-align: center;
  padding: $small-spacing/2 $small-spacing;
  border: 2px solid #444;

  h4 {
    margin: 0;
  }
}
