@include media($small-screen-up) {

  .wrapper{
    @include outer-container;

    .third {
      @include span-columns(4);
      @include shift(0);
    }
    .half {
      @include span-columns(4);
      @include shift(0);
    }
  }
}


@include media($medium-screen-up) {

   .wrapper {
     @include outer-container;

     .third {
       @include span-columns(6);
       @include shift(1);
     }
     .half {
       @include span-columns(4);
       @include shift(0);
     }
   }
}


@include media($large-screen-up) {

  .wrapper {
    @include outer-container;

    .avatar {
      @include span-columns(4);
      @include omega(3n);
    }

    .third {
      @include span-columns(4);
      @include shift(0);
    }
    .half {
      @include span-columns(6);
      @include shift(0);
    }
  }
}
