@include media($small-screen-up) {

  .wrapper{
    @include outer-container;

    .third {
      @include span-columns(4);
      @include shift(0);
    }
    .half {
      @include span-columns(4);
      @include shift(0);
    }
  }
  footer {
    .wrapper {
      &.narrow {
        padding: 0;
        @include outer-container(100%);
        img {
          @include span-columns(3);
          @include shift(0.5);
          margin-bottom: $small-spacing;
        }
        .social {
          display: none;
        }
      }
    }
  }
}


@include media($medium-screen-up) {

   .wrapper {
     @include outer-container;

     .third {
       @include span-columns(6);
       @include shift(1);
     }
     .half {
       @include span-columns(4);
       @include shift(0);
     }
   }
   footer {
     .wrapper {
       &.narrow {
         padding: 0;
         @include outer-container(100%);
         img {
           @include span-columns(3);
           @include shift(2.5);
           margin-bottom: $small-spacing;
         }
         .social {
           display: none;
         }
       }
     }
   }
}


@include media($large-screen-up) {

  .wrapper {
    @include outer-container;

    .avatar {
      @include span-columns(4);
      @include omega(3n);
    }

    .third {
      @include span-columns(4);
      @include shift(0);
    }
    .half {
      @include span-columns(6);
      @include shift(0);
    }
  }
  footer {
    .wrapper {
      &.narrow {
        padding: 0;
        @include outer-container(60%);
        img {
          @include span-columns(3);
          @include shift(3.5);
          margin-bottom: $small-spacing;
        }
        .social {
          display: block;
        }
      }
    }
  }
}
