@include media($small-screen-up) {

  .wrapper{
    @include outer-container;

    .third {
      @include span-columns(4);
      @include shift(0);
    }
    .half {
      @include span-columns(4);
      @include shift(0);
      .caption {
        padding: 0;
      }
    }
  }
  section  {
    &.generic {
      .has-border {
        width: modular-scale(9);
        margin: $base-spacing*2 auto;
        text-align: center;
        padding: $small-spacing/2 $small-spacing;
        border: 2px solid #444;

        h4 {
          margin: 0;
        }
      }
      p.narrow {
        padding: $base-spacing;
        @include span-columns(4);
        @include shift(0);
      }
      #mc_embed_signup {
        @include span-columns(4);
        @include shift(0);
        padding: $small-spacing;
      }
    }
  }
  footer {
    .wrapper {
      &.narrow {
        padding: 0;
        @include outer-container(100%);
        img {
          @include span-columns(3);
          @include shift(0.5);
          margin-bottom: $small-spacing;
        }
        .social {
          display: none;
        }
      }
    }
  }
}


@include media($medium-screen-up) {

   .wrapper {
     @include outer-container;

     .avatar {
       @include span-columns(4);
       @include omega(2n);
     }

     .third {
       @include span-columns(6);
       @include shift(1);
     }
     .half {
       @include span-columns(4);
       @include shift(0);
     }
   }
   section  {
     &.generic {
       .has-border {
         width: modular-scale(9);
         margin: $base-spacing*2 auto;
         text-align: center;
         padding: $small-spacing/2 $small-spacing;
         border: 2px solid #444;

         h4 {
           margin: 0;
         }
       }
       p.narrow {
         padding: $base-spacing;
         @include span-columns(8);
         @include shift(0);
       }
       #mc_embed_signup {
         @include span-columns(8);
         @include shift(0);
         padding: $small-spacing;
       }
     }
   }
   footer {
     .wrapper {
       &.narrow {
         padding: 0;
         @include outer-container(100%);
         img {
           @include span-columns(3);
           @include shift(2.5);
           margin-bottom: $small-spacing;
         }
         .social {
           display: none;
         }
       }
     }
   }
}


@include media($large-screen-up) {

  .wrapper {
    @include outer-container;

    .avatar {
      @include span-columns(3);
      @include omega(4n);
    }

    .third {
      @include span-columns(4);
      @include shift(0);
    }
    .half {
      @include span-columns(6);
      @include shift(0);
    }
  }
  section  {
    &.generic {
      .has-border {
        width: modular-scale(11);
        margin: $base-spacing*2 auto;
        text-align: center;
        padding: $small-spacing/2 $small-spacing;
        border: 2px solid #444;

        h4 {
          margin: 0;
        }
      }
      p.narrow {
        padding: $base-spacing;
        @include span-columns(6);
        @include shift(3);
      }
      #mc_embed_signup {
        @include span-columns(6);
        @include shift(3);
        padding: $small-spacing;
      }
    }
  }
  footer {
    .wrapper {
      &.narrow {
        padding: 0;
        @include outer-container(60%);
        img {
          @include span-columns(3);
          @include shift(3.5);
          margin-bottom: $small-spacing;
        }
        .social {
          display: block;
        }
      }
    }
  }
}
