---
title: Home
---

<section class="hero">
  <div class="wrapper">
    <h5 class="is-centered">Code for Greensboro Fall 2015 Hackathon</h5>
    <h1 class="is-centered">Explore. Build. Improve.</h1>
    <h5 class="is-centered">November 6-8, 2015 &bullet; Joint School of Nanoscience and Nanoengineering &bullet; Greensboro, NC</h5>

    <div class="button">Get Your Ticket</div>

  </div>
</section>

<section class="about">
  <div class="wrapper">
    <h3 class="is-centered is-intro">The Code for Greensboro Fall Hackathon is a chance for developers, designers and technologists to team up under one roof and work together on a wide range of projects.</h3>

    <hr>

    <article>
      <aside class="feature">
        <%=image_tag ("/images/blueprint.png") %>
      </aside>
      <h4>Join a team</h4>
      <h5>
      Team up and conceive news ways of using datasets from Greensboro's brand new Open Data Portal. Forge partnerships with members and residents from tons of different skillsets, and set about making something new and amazing.
    </h5>
    </article>

    <article>
      <aside class="feature">
        <%=image_tag ("/images/working.png") %>
      </aside>
      <h4>Build and have fun</h4>
      <h5>Work on projects, enjoy the company of other technologists, and get a chance to hear about open and civic technology.
      </h5>
    </article>

    <article>
      <aside class="feature">
        <%=image_tag ("/images/bot.png") %>
      </aside>
      <h4>Create something new &amp; rad</h4>
      <h5>This is your chance to build something that can help your community using technology. And along with the satisfaction of a job well done, your project could win prizes.
      </h5>
    </article>
  </div>
</section>

<section class="schedule">
  <h3 class="is-centered">Schedule of Events</h3>

  <div class="wrapper">
    <ul class="changer">
      <li class="selected">Friday</li>
      <li>Saturday</li>
      <li>Sunday</li>
    </ul>
  </div>

  <div class="has-list" id="friday">
    <ul>
      <li>Kickoff Happy Hour - HQ Greensboro <span class="time">5:00 - 8:00 PM</span></li>
      <li>Open House - The Forge <span class="time">5:00 - 8:00 PM</span></li>
      <li>Wooden Nickel Beers - Gibbs Hundred <span class="time">5:00 - 8:00 PM</span></li>
    </ul>
  </div>
</section>

<section class="what-to-expect">
  <h3 class="is-centered">What To Expect</h3>

  <div class="wrapper">

    <div class="card">
      <dl class="heading">
        <dt>Our People</dt>
        <dd class="icon">
          <i class="fa fa-users"></i>
        </dd>
      </dl>
      <p class="small">Designers, developers—both new and experienced—UI/UX specialists, database admins, project managers and anyone who has ideas about technology and how it should be used in Greensboro.</p>
    </div>

    <div class="card">
      <dl class="heading">
        <dt>Our Location</dt>
        <dd class="icon">
          <i class="fa fa-map-marker"></i>
        </dd>
      </dl>
      <p class="small">The Joint School of Nanoscience and Nanotechnology, an academic and industrial research campus resulting from a partnership between A&amp;T State University and the University of North Carolina at Greensboro.</p>
    </div>

    <div class="card">
      <dl class="heading">
        <dt>Food &amp; Drink</dt>
        <dd class="icon">
          <i class="fa fa-beer"></i>
        </dd>
      </dl>
      <p class="small">Each ticket includes breakfast and lunch on Saturday and Sunday, as well as drinks and snacks. Don't worry: we'll keep you fueled up while you hack.</p>
    </div>

    <div class="card">
      <dl class="heading">
        <dt>Prizes</dt>
        <dd class="icon">
          <i class="fa fa-trophy"></i>
        </dd>
      </dl>
      <p class="small">Your team can compete for a variety of prizes being offered by our sponsors. For official rules, visit the contest page.</p>
    </div>

  </div>

</section>

<section class="map">
</section>
