---
title: Call for Speakers
layout: internal
---

<div class="wrapper left">
  <h3>Workshop or talk idea?</h3>
  <p>
    If you have an idea for a workshop or talk that you think would be a good fit for the Fall 2015 Code for Greensboro Hackathon &amp; Conference, let us know.
  </p>
  <p>We have several open spots for workshops—45 minutes or so of demonstration or learning followed by 25 minutes or so of questions. These will be running as the second track of the hackathon Saturday, November 7th.</p>
  <p>In addition, we are putting out an open call for speakers for the 7th and 8th. We're specifically interested in stories about how civic hacking and organizing around technology, shared learning and community organization can galvanize communities.</p>
  <h4>Sound like fun?</h4>
  <p>Drop your response in the form below, and we'll be in touch.</p>

  <hr>
  <fieldset class="match">
    <%= partial "/partials/speaker_form" %>
  </fieldset>
</div>
