---
title: Sponsorship Information
layout: internal
---
<div class="wrapper left">
  <h3>Want to support this event?</h3>
  <p>
    Your sponsorship supports the dozens of designers, developers, writers, photographers, database specialists, and citizens of Greensboro with the desire to help our local government beome more open and technologically engaged as they volunteer their weekend to work on civic issues.
  </p>
  <p>
    Here you'll find information about several sponsorship opportunities. If you'd like to support the event, please fill out the form below and a member of our Leader Team will be in touch. Thank you. Your membership, sponsorship and support sustains us!
  </p>
  <hr>
</div>
<div class="wrapper">
  <section class="about">
    <div class="third">
      <h5>Petabyte - $2500</h5>
        <ul>
          <li>- Logo on event website</li>
          <li>- Name a prize (limited to first four Petabyte sponsors)</li>
          <li>- Company logo on back of event tshirts</li>
          <li>- Display banner during Hackathon</li>
          <li>- Sponsor logo/slide project during event</li>
          <li>- Logo printed on marketing materials</li>
          <li>- Logo + mention in newsletter &amp; social media</li>
          <li>- Mentions during Hackathon</li>
          <li>- Company promo items included w/swag</li>
          <li>- VIP tickets to Friday Social</li>
          <li>- Logo included in Event Sponsor Logo Wall</li>
        </ul>
    </div>
    <div class="third">
      <h5>Terabyte - $2000</h5>
        <ul>
          <li>- Name recognition on event website</li>
          <li>- Company logo on back of event tshirts</li>
          <li>- Logo printed on marketing materials</li>
          <li>- Logo + mention in newsletter &amp; social media</li>
          <li>- Mentions during Hackathon</li>
          <li>- Company promo items included w/swag</li>
          <li>- VIP tickets to Friday Social</li>
          <li>- Logo included in Event Sponsor Logo Wall</li>
        </ul>
    </div>
    <div class="third">
      <h5>Gigabyte - $1500</h5>
        <ul>
          <li>- Name printed on marketing materials</li>
          <li>- Logo + mention in newsletter &amp; social media</li>
          <li>- Company promo items included w/swag</li>
          <li>- Name included in Event Sponsor Logo Wall</li>
        </ul>
    </div>
    </section>
  </div>
  <div class="wrapper">
    <section class="about">
      <div class="third">
        <h5>Megabyte - $1000</h5>
          <ul>
            <li>- Name printed on marketing materials</li>
            <li>- Name included in Event Sponsor Logo Wall</li>
          </ul>
      </div>
      <div class="third">
        <h5>Kilobyte - $500</h5>
          <ul>
            <li>- Name included in Event Sponsor Logo Wall</li>
          </ul>
      </div>
      <div class="third">
        <h5>8-bit Support</h5>
          <p>We appreciate support in any form - do you want to volunteer to help make this event a success? Have goods or services to donate in place of a financial sponsorship? Let us know how you'd like to participate and we'll work with you on the details.</p>
      </div>
    </section>
</div>
<hr>
<div class="wrapper">
  <h4>How would you like to support this civic event?</h4>
  <p>Drop your response in the form below, and we'll be in touch.</p>
  <p>If you would like to download the sponsor packet, please do so <%=link_to "here", "/sponsor-packet.pdf" %>.</p>
  <fieldset class="match">
    <%= partial "/partials/sponsor_form" %>
  </fieldset>
</div>
