---
title: Team Registration
layout: internal
---

<div class="wrapper left">
  <p>
  So you want to throw your hats into the ring and compete at Civicon15!? Awesome. We'll just a need a few things first.
  </p>
  <p>
    1. If you haven't already, grab up to four of your friends and get your <%=link_to "tickets", "https://bit.ly/cfgtix15" %>.
  </p>
  <p>
    2. Next, we need your team name - get creative (but keep it family friendly, Sparky).
  </p>
  <p>
  3. Then we'll need you to decide amongst yourselves who the Captain is - rock, paper, scissors works well. How about a best of three? This person is going to be our main contact for team registration and competition info, so be sure to pick the person who will check their email often. As a backup, give us your first-mate's info too, Captain.
  </p>
  <p>
    4. One more thing - each of you can only be on one team. It's only fair. Put all that extra energy you have into your team's super amazing awesome project.
  </p>
  <p>
    Be sure to give us real, full names (at least just this once). It helps with registration and in the event your team wins a prize, we'll need to know who to give it to. Thanks!
  </p>
  <p>
    If you have any questions or concerns regarding team registration, please contact <%=mail_to "jason@codeforgreensboro.org", 'Jason Marshall' %>.
  </p>


  <hr>
  <fieldset class="match">
    <%= partial "/partials/team_registration" %>
  </fieldset>
</div>
